<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/it_proyecto?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="POJOs/Chat.hbm.xml"/>
    <mapping resource="POJOs/Suscripcion.hbm.xml"/>
    <mapping resource="POJOs/Comentario.hbm.xml"/>
    <mapping resource="POJOs/VotoComentario.hbm.xml"/>
    <mapping resource="POJOs/Usuario.hbm.xml"/>
    <mapping resource="POJOs/Tematica.hbm.xml"/>
    <mapping resource="POJOs/Publicacion.hbm.xml"/>
    <mapping resource="POJOs/Mensaje.hbm.xml"/>
    <mapping resource="POJOs/VotoPublicacion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
