.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar form li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav form li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

.estapacio-cabecera{
    position: relative; 
    top: 75px; 
    clear: both;
}

.h1-registro{
    text-align: center;
    margin-bottom: 40px;
}
.banner-index{
    width: 100%;
    height: 650px;
    margin: 0px;
    background: url(../images/banner_index.png) no-repeat center top;
}

.banner-gen{
    width: 100%;
    height: 180px;
    margin: 50px 0px;
    background: url(../images/cabecera_temas.png) no-repeat center top;
}

.div-icono{
    width: 100%;
    margin: 0px;
    height: 150px;
    background: no-repeat center center;
}

.text-banner{
    font-size: 30px;
    color: white;
    float: top;
    text-align: center;
    position: relative;
    top: 30%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.btn-primary{
    color: #fff;
    background-color: #ffa500;
    border-color: #f4511e;
    margin-left: 38%;
}

.btn-primary:hover {
    color: #fff;
    background-color: #f4511e;
    border-color: #f4511e;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 15%;
    border-radius: 50%;
}

.container-login{
    margin: 5%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);  
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
    z-index: 20;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 25%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.liNavBar{
    display: inline;    
}

.publi-no-imagen{
    width: 15%;
    height: 190px;
    background-color: #FFCF6E;
    float: left;
    overflow: hidden;
    margin: 0px;
}

.letras-imagen{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.datos-publicacion{
    float: left;
    width: 70%;
    padding-left:15px;
}

.sombreado{
    box-shadow:  6px 7px 5px 2px rgba(0,0,0,0.09);
}

.contenedor-publi{
    overflow: hidden;
    text-align: left;
    width: 90%;
    margin: 15px auto;
}

.iniciales-no-imagen{
    font-weight: bold;
    font-size: 4em;
    color: white;
}

.textFileFiltrar{
    width: 40%!important;
}

.filtro{
    margin-left: 1%!important;
}

.icono{
    border-radius:150px;
    float: right;
    width:30px;
    height: 30px!important;
    margin: 20px;
    cursor: pointer;
    z-index: 15;
}

.contenedor-iconos{
    float: left;
    width: 14%;
    margin-top: 120px;
}

@media (max-width: 800px){
    .modal-content {
        width: 50%;
    }  

    .publi-no-imagen{
        width: 30%;
        height: 230px;
    }

    .contenedor-iconos{
        float: left;
        width: 4%;
        margin-top: 160px;
    }

    .datos-publicacion{
        width: 65%;
    }
} 

@media (max-width: 400px){
    .modal-content {
        width: 90%;
    }

    .publi-no-imagen{
        width: 30%;
        height: 230px;
    }

    .contenedor-iconos{
        float: left;
        width: 4%;
        margin-top: 160px;
    }
} 

.botonAceptarPerfil{
    float:right !important;
    clear:both !important;
    padding-right:20px !important;
}