.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

.estapacio-cabecera{
    position: relative; 
    top: 75px; 
    clear: both;
}

.h1-registro{
    text-align: center;
    margin-bottom: 40px;
}
.banner-index{
    width: 100%;
    height: 650px;
    margin: 0px;
    background: url(../images/banner_index.png) no-repeat center top;
}

.div-icono{
    width: 100%;
    margin: 0px;
    height: 150px;
    background: no-repeat center center;
}

.text-banner{
    font-size: 30px;
    color: white;
    z-index: 1;
    float: top;
    text-align: center;
    position: relative;
    top: 30%;
}
